h1 {color:brown;
margin-left: 30px;}
.header{
    background-color: aquamarine;
    display:flex;
    justify-content: space-between
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end
}
.site-description{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: first baseline
}
p,h2{
    text-align: center;
}
body{
    background-color: #d19696
}
.introText{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
a:link{
    color:#FF0000
}
a:visited{
    color:#32CD32
}
.menu{
    margin-right: 30px;
}
.menu a{
    margin-left: 15px;
}
.item{
position:relative
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
transform:translate(-50%,-50%);
opacity:0;
}
.item:hover p{
opacity:1

}
.item:hover img{
    opacity:0.3
}
